
/****** Général *******/
@import url(global_styles.css);
@import url(loader.css);








/****** mobile: loader ******/
/* 
#loaderBg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width:100%;
    height:100%; 
    font-size: 60px;
    background-color: rgba(255,255,255,0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderBgAnim 2.1s ease-out; 
    animation-fill-mode: backwards; 
    animation-iteration-count: 1;
}

#loaderBox{
    z-index: inherit;
    position: relative;
    display: flex;
    animation: loaderBoxAnim 2s cubic-bezier(0, 0.5, 0.5, 1) 4;
}

#loaderOh, #loaderMy, #loaderFood{
    /* font-size: 40px; 
    opacity: 0;
    z-index: -2;
    font-family: 'Shrikhand', cursive;
}

#loaderOh{
    
    color: var(--primary-color);
    
}

#loaderMy{
    color: var(--tertiary-color);
    
}
#loaderFood{
    color: var(--secondary-color);
    
}


@keyframes loaderBgAnim {
    0% { 
        background-color: rgba(255,255,255,1); 
        z-index: 2;
        }
        99.999% {
        background-color: rgba(255,255,255,0.8);
        z-index: 2;
        } 
        100% { 
        background-color: rgba(255,255,255,0);
        z-index: -2;
        }
}
*/
/* @keyframes loaderBox-anim {
        0% {
            z-index: 2;

            top: 8px;
            height: 64px;
        }
        50%, 100% {
            top: 24px;
            height: 32px;
        }
    } */



/***** mobile: header *****/

header{
    padding: 30px 0;
    text-align: center;
}

.logo{
    width: 160px;
    margin:auto;  
    padding: 0 0 10px 0;  
}

/** searchBar */



.locationSearch{
    height: 46px;
    border-top: solid 2px var(--flat-graphics-main-color);
    background-color: var(--fields-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchField{
    
    width: 135px;
    border-style: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

#searchField:focus{
    outline:none;
    background-color:#fa90f138;
    
} 

::placeholder{    
    font-size: 16px;
    color: black;
    font-weight: 600;
}

#searchField:focus::placeholder{
    color:transparent;
}

.locationIconBox{
    padding: 0 15px 0 0;
}

/** hero */

#hero{
    padding:50px 15px;
    background-color: var(--secondary-bg-color);
}

h1{
    width: 80%;
    margin: auto;
    padding: 0 0 10px 0;
}

#hero p{
    padding: 20px 0;
}


/*** mobile: section Fonctionnement (howTo) ***/

#howTo{
    padding: 20px;
}

#howTO h2{
    padding: 30px 0;
}

.howToList{
    padding: 30px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.howToListItem{
    list-style-type: none;
    border-radius: 20px;
    padding: 25px;
    background-color: var(--secondary-bg-color);    
    font-weight: 500;
}

.howToListItem:hover{
    transform: scaleY(1.1);
}

.howToListItem:hover i{
    color: var(--primary-color);
}

.howToItemContent{
    position: relative;
    display: flex;
    align-items: center;
}



.howToItemNumber{
    position: absolute;
    left: -35px;
    /* top: -5px; */
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: var(--clear-font-color);
    
}

.howToIconBox{
    padding: 0 15px 0 0;
}

/*** mobile: section Restaurants ***/

#restaurants{
    padding: 50px 20px;
    background-color:var(--secondary-bg-color);
}

.restaurantsCardsList{
    padding: 25px 0;
   display: grid;
    grid-template-columns: 1fr;
    gap: 18px; 
}

.restaurantCard{
    position:relative;
    background-color: white;
    border-radius: 10px;
}

.restaurantWindow{
    border-radius: 10px 10px 0 0 ;
    width:100%;
    height:180px;
    object-fit: cover;
}

.newLabel{
    position: absolute;    
    top: 15px;
    right: 20px;
    border-radius: 2px;
    padding: 6px 12px;
    background-color: var(--tertiary-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--tertiary-font-color);
}

 
.restaurantCardText{
    padding: 18px 12px;
    line-height: 25px;
}

.heartBox{    
    /* position: absolute;  */
    bottom: 55px;
    right: 40px;
    /* font-size: 25px; */
}




/******* mobile: footer ******/

footer{
    padding: 10px 20px;
    background-color: var(--semi-dark-bg-color);    
}
footer *{    
    color: var(--clear-font-color);
    font-weight: 400;

}
footer h2{
    padding: 10px 0;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
}

.footerBox a{
    display: inline-block;
    padding: 2px 0;
}
.footerItem{
    padding: 2px 0;
}



.footerItem{
    display: flex;
    align-items: center;
}

.footerIconBox{
    padding: 0 10px 0 0;
}



/*************************************************
**** version desktop ****
**************************************************/

@media screen and (min-width: 1024px){

    /****** desktop: général ******/
    

    /****** dexktop: header *******/
    header{
        padding: 0;
    }
    .logo{
        width: 200px;
        padding: 25px 0;
    }

    .locationSearch{
        border: none;
    }

    h1{
        font-size: 40px;
    }

    /*** desktop: section Fonctionnement (howTo) ***/

    #howTo{
        padding: 30px 200px;
    }
    
    .howToList{
        
        flex-direction: row;
        justify-content: space-between;
    }

    .howToListItem{
        width: 370px;
        font-weight: 600;
    }

    .howToListItem p{
       
        font-weight: 500;
    }

    /*** desktop: section Restaurants ***/

    #restaurants{
        padding: 50px 180px 0;
    }

    .restaurantsCardsList{
        padding:30px 0;
        grid-template-columns: 1fr 1fr;
        gap: 50px; 
    }

    .restaurantCard{
        width: 490px;
    }

     /*** desktop: footer ***/

     footer{
        padding: 60px 0 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

     }

     footer h2{
        padding: 0 65px;
     }

     .footerBox{
        
        display: flex;
        gap: 30px;
     }

}
