

@import url(global_styles.css);



  


.fadingRestaurant{
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%; 
    background-color: rgba(255,255,255,0);
    animation: fadingRestaurantAnim 1s ease-out; 
    animation-fill-mode: backwards; 
    animation-iteration-count: 1;
}


@keyframes fadingRestaurantAnim  {
    0% { 
        background-color: rgba(255,255,255,1); 
        z-index: 10;
        }
        99.999% {
        background-color: rgba(255,255,255,0);
        z-index: 10;
        } 
        100% { 
        background-color: rgba(255,255,255,0);
        z-index: -2;
        }
}


/* ***** fadding plats

article:nth-child(1){
    animation: articlesAnim  4s ;
    animation-fill-mode: backwards;
}
article:nth-child(2){
    animation: articlesAnim  3s 2s ;
    animation-fill-mode: backwards;
}
article:nth-child(3){
    animation: articlesAnim 1s 3s;
    animation-fill-mode: backwards;
}


@keyframes articlesAnim {
   0%{
    opacity: .2;
    transform: scale(.5);
   }
 
    80%{opacity: 0.5;
}

    100% {
        opacity: 1;
        transform: scale(1);
    }
} */




/****** mobile: header  ******/

nav{
    padding: 25px 60px 25px 60px;
    display: flex;
    justify-content: space-between;
}


.previousIcon, .nextIcon{
    font-size: 40px;
    color: var(--dark-font-color);
}
.restaurant-window{
    object-fit: cover;
    width: 100%;
    height: 200px; 
}

#logo:hover{
    transition: all 1s;
    transform: scale(1.2);
    filter: opacity(.7)
}
/****** mobile: section restaurantMenu ******/

.subHeader{
    position: relative;
}

.restaurantMenu{
    margin-top:-26px;
    left: 0;
    right: 0;
    border-radius: 25px 25px 0 0;
    padding: 35px 15px;
    background-color: var(--main-bg-color);

}

.restaurantTitle{
    position:relative;
    padding-right: 1px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: Shrikhand;
    font-weight: 300;
    font-size: 1.73rem;

}

.heartBox{    
    position: relative; 
    right: 15px;
    font-size: 25px;
}

.restaurantName{
    font-family: 'Shrikhand', cursive;
}


/****** mobile: sections entrées /plats / desserts ******/

/**fadding plats */

article:nth-child(1){
    animation: articlesAnim  3s ;
    animation-fill-mode: backwards;
}
article:nth-child(2){
    animation: articlesAnim  3s 2s ;
    animation-fill-mode: backwards;
}
article:nth-child(3){
    animation: articlesAnim 1s 3s;
    animation-fill-mode: backwards;
}
article:nth-child(4){
    animation: articlesAnim .5s 3.5s;
    animation-fill-mode: backwards;
}

@keyframes articlesAnim {
   0%{
    opacity: .2;
    transform: scale(.5);
   }
 
    80%{opacity: 0.5;
}

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/** mobile: section Menu */

.dishesType{
    padding: 10px 0;
    text-transform:uppercase;
    font-weight: 300;
    font-size: 18px;
    color: var(--semi-dark-font-color);
}

.titleUnderline{
    border-bottom: solid 4px var(--tertiary-color);
    padding: 0 0 10px 0;
}

.dishesList{
    padding: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customCheck{
    
    position: relative;
    border-style: none;
    box-shadow: 0px 0px 10px 0px  rgba(236, 234, 234, 0.356);
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
}

.dishDescription{
    width: calc(100% - 55px);
    padding: 10px  0 10px 10px;   
}

.dishName, .dishAccompaniments{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dishDescription{
    width: calc(100% - 55px);
    padding: 10px  0 10px 10px;   
}

.customCheck:hover .dishDescription {
    animation: textReduction 0.5s linear ;
    animation-fill-mode:forwards;

}

@keyframes textReduction {
    from{
        width: calc(100% - 55px);
    }
    to{
        width: calc(100% - 120px);
    } 
}
 

.dishCard:hover .dishPriceAndCheckBtn{
    animation: priceAndCheckBtnTranslate 0.6s .1s linear;
    animation-fill-mode:forwards;
}


@keyframes priceAndCheckBtnTranslate {
    100%{ transform: translateX(-65px); }
}

.dishCard:hover .dishPriceAndCheckBtn .checkButton .fa-check{
    animation: faCheckWarning  linear 2s 1;
    animation-fill-mode:forwards;
}

@keyframes faCheckWarning{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.dishName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dishAccompaniments{    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dishPriceAndCheckBtn{
    position: absolute;
    display: flex;
    height: 100%;
    top:0;
    bottom: 0;
    right: -65px;
    align-items: end;
}

.dishPrice{
    width: 45px;
    padding: 0 0 10px 0;
    text-align: center;
    font-weight: 700;
}


.checkButton{
    position: relative;
    display:flex ;
    justify-content:center; 
    align-items: center;
    height: 100%;
    width: 65px;
    border-radius: 0 15px 15px 0;
    background-color: var(--tertiary-color);
}

.checkBox{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.fa-circle-check, .fa-circle{
    color: white;
}


/** mobile: clics sur check  **/

.fa-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.fa-check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color:var(--tertiary-color)
}


    .customCheck input {
        display: none;
    }
 
    .customCheck input:checked ~ .dishPriceAndCheckBtn{
        transform: translateX(-65px);

    }

    .customCheck input:checked ~ .dishDescription {
        animation: textReduction 0s linear ;
        animation-fill-mode:forwards;
    
    }

    .customCheck input:checked ~ .dishPriceAndCheckBtn .checkButton .fa-circle {
       animation: none;
    }

    .customCheck input:checked ~ .dishPriceAndCheckBtn .checkButton .fa-check {
        animation: none;
    }



/****** mobile: Section Commander */

.command{
    width: 100%;
    display: flex;
    justify-content: center;
}

.command button{
    width: 180px;
}



/******* mobile: footer ******/

footer{
    padding: 10px 20px;
    background-color: var(--semi-dark-bg-color);    
}
footer *{    
    color: var(--clear-font-color);
    font-weight: 400;

}
footer h2{
    padding: 10px 0;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
}

.footerBox a{
    display: block;
    padding: 2px 0;
}
.footerItem{
    padding: 2px 0;
}

.footerItem{
    display: flex;
    align-items: center;
}

.footerIconBox{
    padding: 0 10px 0 0;
}



/***===========================================
***   desktop  
===============================================*/
@media (min-width: 1024px) {

/******  desktop: header   ******/
    .banner img{
        height:385px;
    }



    /** desktop: subHeader */

    .subHeader{
        max-width: 1050px;
        margin: auto;
        /* padding: 60px 205px 60px 205px; */
    }

    .restaurantMenu{
        padding: 60px 205px 60px 205px; 
    }

    .restaurantTitle{
        justify-content: center;
    }

    .restaurantTitle>.heartBox {
        right: 0;
        padding: 0 45px;
    }

    /**desktop: footer */

    footer {
        padding: 70px 80px 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    footer h2 {
        padding: 0 0 10px 100px;
    }

    .footerBox{
        display: flex;
        flex-direction: row;
    }


}





