// ** Keyframes loader**

@keyframes loaderRestaurantAnim  {
    0% { 
        z-index: 10;
        background-color: rgba(255,255,255,1); 
        
        }
    70.999% {
        background-color: rgba(255,255,255,.8);
        z-index: 10;
        }

    99.999% {
    background-color: rgba(255,255,255,.7);
    z-index: 10;
    } 
    100% { 
    background-color: rgba(255,255,255,0);
    z-index: -2;
    }
}

@keyframes loaderMove1 {
    0%{
        transform: translate(400px, 0px);
        opacity: 1;
    }

    50%{ transform: translate(0px, 0px);   }

    99%{
        
    transform: translate(0px, 0px); 
    opacity: 1;
  } 

    100%{
       
        transform: translate(0px, 0px);  
        opacity: 0;
        z-index: -2;
        
    }
}

@keyframes loaderJumps {
    0%{top:136px}
    
    100% {
        top:135px}
  }

@keyframes loaderAnimCouvercle {
    25% {
      transform:  translate(-70%, -165px) rotate(-35deg);
      opacity: 1;
      z-index: 10;
    }
    50.9% {
      transform:  translate(-70%, -165px) rotate(-35deg);
      z-index: 10;
      opacity: 1;
    }
    80% {
      transform:   translate(-50%, 0px) rotate(0deg);
        opacity: 1;
        z-index: 10;
    }
    99.99% {
        transform:  translate(-50%, 0px) rotate(0deg);
        z-index: 10;
        /* opacity: 0.5; */
      }

    100% {
      transform: translate(-50%, 0px) rotate(0deg);
      opacity: 0;
      z-index: -2;
    }
  }

@keyframes loaderAnimPlat{
        
    99.99%{
        /* transform: translate(-50%, 140%); */
        opacity: 1; 
    }
    
    100%{
        /* transform: translate(-50%, 140%); */
        opacity: 0;
        z-index: -2;

    }
}


// *** keyframes pages restaurants

// * animation ouverture de page

// animation d'estompage de la page 
@keyframes restaurantAnim-fading  {
    0% { 
        background-color: rgba(255,255,255,1); 
        z-index: 10;
        }
        99.999% {
        background-color: rgba(255,255,255,0);
        z-index: 10;
        } 
        100% { 
        background-color: rgba(255,255,255,0);
        z-index: -2;
        }
}

// animation d'emphase des cartes de plats
@keyframes restaurantAnim-articles {
    0%{
     opacity: .2;
     transform: scale(.5);
    }
  
     80%{opacity: 0.5;
 }
 
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }

 // animation de reduction des description de plats
 @keyframes retaurantAnim-DishDescription {
    from{
        width: calc(100% - 55px);
    }
    to{
        width: calc(100% - 120px);
    } 
}

// animation de translation prix et check-box
@keyframes restaurantAnim-priceAndCheckBtn {
    100%{ transform: translateX(-65px); }
}