/****** loader ******/    

.loaderBg{
    z-index: 5;
    background-color: rgba(255,255,255,1); 
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%; 
    animation: loaderRestaurantAnim 3s ease-out;
    animation-fill-mode: forwards; 

    &__animContainer{

        position: absolute;
        top: 15%;
        left:50%;
        width: 320px;
        margin:auto;
        transform: translateX(-50%);

        &__txt{
            color: transparent;
            position:absolute;
            top:135px;
            left: 30px;
            transform: translate(9000px, 100px);
            font-family:'Shrikhand', cursive;
            font-size:45px;

            &--ohColor{
                color: $primary-color;
            }

            &--myColor{
                color: $tertiary-color;
            }
            &--foodColor{
                color: $secondary-color;
            }

            span{
                font-family:'Shrikhand', cursive;
                font-size:50px;
            }
        }

        .oh{
            animation: loaderMove1 2.4s linear, loaderJumps .3s  cubic-bezier(0,100,.8,100) 3;
            animation-fill-mode: forwards;
        }
        
        .my{
            animation: loaderMove1 2s .5s, loaderJumps .26s .5s cubic-bezier(0,100,.8,100) 3 ;
            animation-fill-mode: forwards;
        }
        
        .food{
            animation: loaderMove1 1.5s .8s, loaderJumps .3s 1s cubic-bezier(0,100,.8,100) 3; 
            animation-fill-mode: forwards;
        }

        &__coveredTrayBox {
            position: absolute;
            top: 110px;
            left: 30%;
            background-color: transparent;
            z-index: 15;
            width: 350px;
            transform: scale(1.4);

            *{
                background-color: $clear-font-color;
                border:solid 4px rgb(179, 179, 179);                
            }

            &__cover { 
            top: 100px;
            left: 19%; 
            width: -moz-fit-content; 
            width: fit-content;  
            border: none; 
            background-color:transparent;
            display: flex;
            
            flex-direction: column;
            align-items: center;
            animation: loaderAnimCover 3.1s linear 0s 1  forwards;

                &__handle {
                    position:absolute;
                    top: -17px;
                    height: 20px;
                    width: 40px;
                    border-radius: 15px 15px 30px 30px;
                }

                &__shield {
                    height: 100px;
                    width: 200px;
                    border-radius: 100px 100px 0 0;
                }
            }
        

            &__tray {
                width: 210px;
                height: 10px;
                border-radius: 5px;
                animation: loaderAnimPlateandWaiter 2.8s ease-out;
                animation-fill-mode: forwards;

            }

            &__waiter {
                border: none;
                background-color:transparent;
                animation: loaderAnimPlateandWaiter 2.8s ease-out;
                animation-fill-mode: forwards;

                &__fingers {
                    width: 50px;
                    height: 12px;
                    border-radius: 5px 8px 0px 5px;
                    transform: translate(102px, 0px);
                }
                
                &__palm{
                    width: 50px;
                    height: 25px;
                    border-radius: 15px 0 25px;
                    transform: translate(60px, -15px);
                }
                
                &__thumb{
                    width: 40px;
                    height: 15px;
                    border-left: 0px;
                    border-radius: 0px 15px 0 5px;
                    transform: translate(80px, -38px);
                }
                
                &__cuff{
                    width: 25px;
                    height: 30px;
                    border-radius: 5px 15px 0 5px;
                    transform: translate(40px, -52px) ;
                }
                &__towel{
                    width: 50px;
                    height: 80px;
                    transform: translate(0px, -83px) ;
                }
            }
        }
    }
}