$main-font-color: --main-font-color: #000000;
$tertiary-color: --tertiary-color: #99E2D0;
$flat-graphics-main-color: --flat-graphics-main-color: #7E7E7E;
$main-bg-color: --main-bg-color: #F3F3F3;
$secondary-bg-color: --secondary-bg-color: #F6F6F6;
$secondary-color: --secondary-color: #fa90f1;
$primary-color: --primary-color: #9356DC;
$fields-bg-color:--fields-bg-color:#EAEAEA;
$semi-dark-bg-color:--semi-dark-bg-color:#353535;
$tertiary-font-color: --tertiary-font-color: #008766;
$clear-font-color: --clear-font-color: #FFFFFF;
$dark-font-color: --dark-font-color: #000000;
$semi-dark-font-color: --semi-dark-font-color: #353535;

