@charset "UTF-8";
/**==============================================
**     GENERAL
**==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*** VARIABLES ****/
:root {
  --main-font-color: #000000;
  --tertiary-color: #99E2D0;
  --flat-graphics-main-color: #7E7E7E;
  --main-bg-color: #F3F3F3;
  --secondary-bg-color: #F6F6F6;
  --secondary-color: #fa90f1;
  --primary-color: #9356DC;
  --fields-bg-color:#EAEAEA;
  --semi-dark-bg-color:#353535;
  --tertiary-font-color: #008766;
  --clear-font-color: #FFFFFF;
  --dark-font-color: #000000;
  --semi-dark-font-color: #353535;
}

/*** EXTENSIONS ***/
.heartEmpty, .heartFilled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*** Eléments généraux***/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.fa-solid, .fa-regular {
  color: #949292;
  font-size: 18px;
}

.boxShadow {
  box-shadow: 3px 3px 11px 2px rgba(33, 33, 33, 0.15);
}

.boxShadow:hover {
  box-shadow: 3px 3px 15px 2px rgba(33, 33, 33, 0.3);
}

/****** Boutons principaux  ******/
.mainBtn {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(252, 252, 252, 0.24);
  border-radius: 50px;
  padding: 15px;
  background: linear-gradient(180deg, #fa90f1 0%, #9356DC 100%);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.mainBtn:hover {
  transition: 0.3s;
  filter: brightness(1.13);
  box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.287);
}

/****** Coeurs ******/
.heartBox {
  position: absolute;
  font-size: 30px;
}

.heartEmpty, .heartFilled {
  font-size: 30px;
}

.heartEmpty {
  color: #353535;
}

.heartFilled {
  transform: translateX(-50%) translateY(-50%) scale(0);
  color: #FFFFFF;
}

.heartBox:hover .heartFilled {
  z-index: 2;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: 0.3s;
  background: -webkit-linear-gradient(0deg, #fa90f1 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******* mobile: footer ******/
.footer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  .footer {
    padding: 70px 80px 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.footer * {
  color: #FFFFFF;
}
.footer h2 {
  padding: 10px 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .footer h2 {
    padding: 0 0 10px 100px;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__box {
    display: flex;
    flex-direction: row;
  }
}
.footer__box__item {
  display: flex;
  align-items: center;
  padding: 2px 1px;
}
@media (min-width: 1024px) {
  .footer__box__item {
    padding: 2px 15px;
    color: #FFFFFF;
    font-weight: 400;
  }
}
.footer__box__item__iconBox {
  padding: 0 10px 0 0;
}
.footer__box__item__iconBox__icon {
  color: #FFFFFF;
  font-size: 15px;
}/*# sourceMappingURL=global_styles.css.map */