
/****** Général *******/
@use "variables";
@import url(global_styles.css);
@import url(loader.css);

// test
$main-font-color: #000000;
$tertiary-color: #99E2D0;
$flat-graphics-main-color: #949292;
$main-bg-color: #F3F3F3;
$secondary-bg-color: #F6F6F6;
$secondary-color: #fa90f1;
$primary-color: #9356DC;
$fields-bg-color:#EAEAEA;
$semi-dark-bg-color:#353535;
$tertiary-font-color: #008766;
$clear-font-color: #FFFFFF;
$dark-font-color: #000000;
$semi-dark-font-color: #353535;

//***** mobile: header *****

.header{
    padding: 30px 0;
    text-align: center;
        .logo{
        width: 160px;
        margin:auto;  
        padding: 0 0 10px 0;  
        }
        &__locationSearch{
            height: 46px;
            border-top: solid 2px;
            border-color: $flat-graphics-main-color;
            background-color: $fields-bg-color;
            display: flex;
            justify-content: center;
            align-items: center;

            &__searchField{
                
                width: 135px;
                border-style: none;
                background-color: transparent;
                font-size: 16px;
                color: black;
                font-weight: 600; 
                
                &:focus{
                outline:none;
                background-color:#fa90f138;                      
                }
                &:focus::placeholder{
                    color:transparent;
                } 
            } 
            
            &__locationIconBox{
                padding: 0 15px 0 0;
            }
        }

        &__hero{
            padding: 20px;

            h1{
                // color: #008766;
                width: 80%;
                margin: auto;
                padding: 0 0 10px 0;
            }

            p{
                padding: 20px 0;
                // color: red;
            }
        }
}



//*** mobile: section Fonctionnement (howTo) ***



.howTo{
    // background-color: rgb(217, 255, 0);
    padding: 20px;

    h2{
        padding: 30px 0;
        // color: rgb(255, 0, 34);
    }

    &__List{
        // border: 1px solid red;
        padding: 30px 0 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        &__Item{
            list-style-type: none;
            border-radius: 20px;
            padding: 25px;
            background-color: $secondary-bg-color;    
            font-weight: 500;

            
        
                &__Content{
                    // background-color: rgb(196, 255, 204); 
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    &__Number{
                        position: absolute;
                        left: -35px;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background-color: $primary-color;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 22px;
                        color: $clear-font-color;
                    }

                    &__IconBox{
                        padding: 0 15px 0 0;
                    }
                }   
        }

        &__Item:hover{
            transform: scaleY(1.1);
            i{
                color: $primary-color;
            }
        }
    }
    
}




/*** mobile: section Restaurants ***/

.restaurants{
    padding: 50px 20px;
    background-color:$secondary-bg-color;
    
        &__cardsList{
        padding: 25px 0;
    display: grid;
        grid-template-columns: 1fr;
        gap: 18px;

            &__card{
                position:relative;
                background-color: $clear-font-color;
                border-radius: 10px;
                    &__link__window{
                        border-radius: 10px 10px 0 0 ;
                        width:100%;
                        height:180px;
                        object-fit: cover;
                    }
                    &__link__text{
                        padding: 18px 12px;
                        line-height: 25px;
                    }
                    &__link__newLabel{
                        position: absolute;    
                        top: 15px;
                        right: 20px;
                        border-radius: 2px;
                        padding: 6px 12px;
                        background-color: $tertiary-color;
                        font-size: 14px;
                        font-weight: 600;
                        color: $tertiary-font-color;
                    }


            }
        }
}



.heartBox{ 
    bottom: 55px;
    right: 40px;
}



//*************************************************
//**** version desktop ****
//**************************************************

@media screen and (min-width: 1024px){

    //****** desktop: général ******
    

    //****** dexktop: header *******
    header{
        padding: 0;
    }
    .logo{
        width: 200px;
        padding: 25px 0;
    }

    .locationSearch{
        border: none;
    }

    h1{
        font-size: 40px;
    }

    //*** desktop: section Fonctionnement (howTo) ***

    #howTo{
        padding: 30px 200px;
    }
    
    .howToList{
        
        flex-direction: row;
        justify-content: space-between;
    }

    .howToListItem{
        width: 370px;
        font-weight: 600;
    }

    .howToListItem p{
       
        font-weight: 500;
    }

    //*** desktop: section Restaurants ***

    #restaurants{
        padding: 50px 180px 0;
    }

    .restaurantsCardsList{
        padding:30px 0;
        grid-template-columns: 1fr 1fr;
        gap: 50px; 
    }

    .restaurantCard{
        width: 490px;
    }

}
