@import url(global_styles.css);
.fadingRestaurant {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  animation: fadingRestaurantAnim 0.3s ease-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

@keyframes fadingRestaurantAnim {
  0% {
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }
  99.999% {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    z-index: -2;
  }
}
/**  header   **/
.header__restaurantNav { /** navigation **/
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__restaurantNav__previousIcon {
  font-size: 20px;
  color: var(--dark-font-color);
}
.header__restaurantNav__logo {
  width: 160px;
  margin: auto;
}
.header__banner__restaurantWindow { /** photo "vitrine"  **/
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

/**  subHeader   **/
.subHeader {
  position: relative;
}
.subHeader__restaurantMenu { /** section restaurantMenu **/
  margin-top: -26px;
  left: 0;
  right: 0;
  border-radius: 25px 25px 0 0;
  padding: 35px 15px;
  background-color: var(--main-bg-color);
}
.subHeader__restaurantMenu__restaurantTitle {
  position: relative;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.subHeader__restaurantMenu__restaurantTitle__restaurantName {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 1.73rem;
}
.subHeader__dishesType {
  padding: 10px 0;
  color: var(--semi-dark-font-color);
}
.subHeader__dishesType__h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.subHeader__dishesType__h2--titleUnderline {
  border-bottom: solid 3px var(--tertiary-color);
  padding: 0 0 5px 0;
}
.subHeader__dishesType__dishesList {
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subHeader__dishesType__dishesList__dishCard {
  position: relative;
  border-style: none;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
}
.subHeader__dishesType__dishesList__dishCard:hover .subHeader__dishesType__dishesList__dishCard__dishDescription {
  animation: textReduction 0.3s linear;
  animation-fill-mode: forwards;
}
.subHeader__dishesType__dishesList__dishCard:hover .subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn {
  animation: priceAndCheckBtnTranslate 0.3s 0.05s linear;
  animation-fill-mode: forwards;
}
.subHeader__dishesType__dishesList__dishCard__dishDescription {
  width: calc(100% - 55px);
  padding: 10px 0 10px 10px;
}
.subHeader__dishesType__dishesList__dishCard__dishDescription__dishName, .subHeader__dishesType__dishesList__dishCard__dishDescription__dishAccompaniments {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -65px;
  align-items: end;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__dishPrice {
  width: 45px;
  padding: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__checkButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65px;
  border-radius: 0 15px 15px 0;
  background-color: var(--tertiary-color);
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__checkButton__checkBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heartBox {
  position: relative;
  right: 35px;
  font-size: 25px;
}

/**  Commander **/
.command {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}
.command button {
  width: 180px;
}

/** animation fadding plats */
article:nth-child(1) {
  animation: articlesAnim 0.3s;
  animation-fill-mode: backwards;
}

article:nth-child(2) {
  animation: articlesAnim 0.3s 0.2s;
  animation-fill-mode: backwards;
}

article:nth-child(3) {
  animation: articlesAnim 0.1s 0.3s;
  animation-fill-mode: backwards;
}

article:nth-child(4) {
  animation: articlesAnim 0.05s 0.35s;
  animation-fill-mode: backwards;
}

@keyframes articlesAnim {
  0% {
    opacity: 0.2;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textReduction {
  from {
    width: calc(100% - 55px);
  }
  to {
    width: calc(100% - 120px);
  }
}
@keyframes priceAndCheckBtnTranslate {
  100% {
    transform: translateX(-65px);
  }
}
.fa-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.fa-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--tertiary-color);
}

/***===========================================
***   desktop  
===============================================*/
@media (min-width: 1440px) {
  /**desktop: header**/
  .header__restaurantNav {
    padding: 30px 30px 30px 30px;
  }
  .header__restaurantNav__logo {
    width: unset;
  }
  .header__banner__restaurantWindow {
    height: 385px;
  }
  /** desktop: subHeader */
  .subHeader {
    max-width: 1050px;
    margin: auto;
  }
  .subHeader__restaurantMenu {
    margin-top: -40px;
    padding: 60px 205px 60px 205px;
    border-radius: 40px 40px 0 0;
  }
  .subHeader__restaurantMenu__restaurantTitle {
    justify-content: center;
  }
  .subHeader__restaurantMenu__restaurantTitle .heartBox {
    right: 0;
    padding: 0 45px;
  }
}/*# sourceMappingURL=restaurants_style.css.map */