@charset "UTF-8";
/**==============================================
**     GENERAL
**==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*** Eléments généraux***/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.fa-solid, .fa-regular {
  color: #D9D9D9;
  font-size: 18px;
}

.boxShadow {
  box-shadow: 3px 3px 11px 2px rgba(33, 33, 33, 0.15);
}
.boxShadow:hover {
  box-shadow: 3px 3px 15px 2px rgba(33, 33, 33, 0.3);
}

/****** Boutons principaux  ******/
.mainBtn {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(252, 252, 252, 0.24);
  border-radius: 50px;
  padding: 15px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.mainBtn:hover {
  transition: 0.3s;
  filter: brightness(1.13);
  box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.287);
}

/****** Coeurs ******/
.heartBox {
  position: absolute;
}
.heartBox .heartEmpty {
  color: #353535;
}
.heartBox .heartFilled {
  transform: translateX(-50%) translateY(-50%) scale(0);
}
.heartBox:hover .heartFilled {
  z-index: 2;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: 0.3s;
  background: -webkit-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heartEmpty, .heartFilled {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/******* footer ******/
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  .footer {
    padding: 60px 50px 20px 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.footer * {
  color: #FFFFFF;
}
.footer h2 {
  padding: 10px 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .footer h2 {
    padding: 0 0 10px 100px;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__box {
    display: flex;
    flex-direction: row;
  }
}
.footer__box__item {
  display: flex;
  align-items: center;
  padding: 2px 1px;
}
@media (min-width: 1024px) {
  .footer__box__item {
    padding: 2px 15px;
    color: #FFFFFF;
    font-weight: 400;
  }
}
.footer__box__item__iconBox {
  padding: 0 10px 0 0;
}
.footer__box__item__iconBox__icon {
  color: #FFFFFF;
  font-size: 15px;
}

.fadingRestaurant {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  animation: fadingRestaurantAnim 0.3s ease-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

@keyframes fadingRestaurantAnim {
  0% {
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }
  99.999% {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    z-index: -2;
  }
}
/**  header   **/
.header__restaurantNav { /** navigation **/
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__restaurantNav__previousIcon {
  font-size: 20px;
  color: #000000;
}
.header__restaurantNav__logo {
  width: 160px;
  margin: auto;
}
.header__banner__restaurantWindow { /** photo "vitrine"  **/
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

/**  subHeader   **/
.subHeader {
  position: relative;
}
.subHeader__restaurantMenu { /** section restaurantMenu **/
  margin-top: -26px;
  left: 0;
  right: 0;
  border-radius: 25px 25px 0 0;
  padding: 35px 15px;
  background-color: #F3F3F3;
}
.subHeader__restaurantMenu__restaurantTitle {
  position: relative;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.subHeader__restaurantMenu__restaurantTitle__restaurantName {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 1.73rem;
}
.subHeader__dishesType {
  padding: 10px 0;
  color: #353535;
}
.subHeader__dishesType__h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.subHeader__dishesType__h2--titleUnderline {
  border-bottom: solid 3px #99E2D0;
  padding: 0 0 5px 0;
}
.subHeader__dishesType__dishesList {
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subHeader__dishesType__dishesList__dishCard {
  position: relative;
  border-style: none;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
}
.subHeader__dishesType__dishesList__dishCard:hover .subHeader__dishesType__dishesList__dishCard__dishDescription {
  animation: textReduction 0.3s linear;
  animation-fill-mode: forwards;
}
.subHeader__dishesType__dishesList__dishCard:hover .subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn {
  animation: priceAndCheckBtnTranslate 0.3s 0.05s linear;
  animation-fill-mode: forwards;
}
.subHeader__dishesType__dishesList__dishCard__dishDescription {
  width: calc(100% - 55px);
  padding: 10px 0 10px 10px;
}
.subHeader__dishesType__dishesList__dishCard__dishDescription__dishName, .subHeader__dishesType__dishesList__dishCard__dishDescription__dishAccompaniments {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -65px;
  align-items: end;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__dishPrice {
  width: 45px;
  padding: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__checkButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.subHeader__dishesType__dishesList__dishCard__dishPriceAndCheckBtn__checkButton__checkBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heartBox {
  position: relative;
  right: 35px;
  font-size: 25px;
}

/**  Commander **/
.command {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}
.command button {
  width: 180px;
}

/** animation fadding plats */
article:nth-child(1) {
  animation: articlesAnim 0.3s;
  animation-fill-mode: backwards;
}

article:nth-child(2) {
  animation: articlesAnim 0.3s 0.2s;
  animation-fill-mode: backwards;
}

article:nth-child(3) {
  animation: articlesAnim 0.1s 0.3s;
  animation-fill-mode: backwards;
}

article:nth-child(4) {
  animation: articlesAnim 0.05s 0.35s;
  animation-fill-mode: backwards;
}

@keyframes articlesAnim {
  0% {
    opacity: 0.2;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textReduction {
  from {
    width: calc(100% - 55px);
  }
  to {
    width: calc(100% - 120px);
  }
}
@keyframes priceAndCheckBtnTranslate {
  100% {
    transform: translateX(-65px);
  }
}
.fa-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.fa-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #99E2D0;
}

/***===========================================
***   desktop  
===============================================*/
@media (min-width: 1440px) {
  /**desktop: header**/
  .header__restaurantNav {
    padding: 30px 30px 30px 30px;
  }
  .header__restaurantNav__logo {
    width: unset;
  }
  .header__banner__restaurantWindow {
    height: 385px;
  }
  /** desktop: subHeader */
  .subHeader {
    max-width: 1050px;
    margin: auto;
  }
  .subHeader__restaurantMenu {
    margin-top: -40px;
    padding: 60px 205px 60px 205px;
    border-radius: 40px 40px 0 0;
  }
  .subHeader__restaurantMenu__restaurantTitle {
    justify-content: center;
  }
  .subHeader__restaurantMenu__restaurantTitle .heartBox {
    right: 0;
    padding: 0 45px;
  }
}/*# sourceMappingURL=restaurants_style.css.map */