$main-font-color: #000000;
$emphasis-color: #99E2D0;
$main-bg-color: #F3F3F3;
$secondary-bg-color: #F6F6F6;
$objects-bg-main-color: #9356DC;
$objects-bg-secondary-color: #9356DC;
$fields-bg-color:#EAEAEA;
$semi-dark-bg-color:#353535;
$emphasis-font-color: #008766;
$clear-font-color: #FFFFFF;
$dark-font-color: #000000;
$semi-dark-font-color: #353535;

:root{
    $main-font-color: #000000;
    $emphasis-color: #99E2D0;
    
    $main-bg-color: #F3F3F3;
    $secondary-bg-color: #F6F6F6;
    $objects-bg-main-color: #9356DC;
    $objects-bg-secondary-color: #9356DC;
    $fields-bg-color:#EAEAEA;
    $semi-dark-bg-color:#353535;
    $emphasis-font-color: #008766;
    $clear-font-color: #FFFFFF;
    $dark-font-color: #000000;
    $semi-dark-font-color: #353535;
  }
  
a{
    text-decoration:none
}
h1{
    color:black;
}

#restaurants{
    border: solid 1px red;
    padding: 50px 20px;
    //
    background-color: $main-bg-color;
}
.restaurantCard{
    a{
        display: block;
        width:100%;
    }

    &.restaurantWindow{
        object-fit: cover;
        width:100%;
        height:200px;
        
    }

}